* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
}

img {
  width: 100%;
  object-fit: contain;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.form,
.form label,
.form input {
  width: 100%;
}

.form label {
  font-size: 1rem;
}

.form input {
  padding: 10px 20px;
  border: 1px solid gray;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form input:focus {
  border-bottom: 3px solid coral;
}

.btn {
  padding: 30px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  /* border: none; */
  border-color: transparent;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: coral;
  color: #fff;
}

.loading {
  display: block !important;
}

/* checkout steps */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* place order screen */

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

/* img.cartitem__image {
  max-width: 5rem;
  width: 100%;
} */
