* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
}

img {
  width: 100%;
  object-fit: contain;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.form,
.form label,
.form input {
  width: 100%;
}

.form label {
  font-size: 1rem;
}

.form input {
  padding: 10px 20px;
  border: 1px solid gray;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form input:focus {
  border-bottom: 3px solid coral;
}

.btn {
  padding: 30px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  /* border: none; */
  border-color: transparent;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: coral;
  color: #fff;
}

.loading {
  display: block !important;
}

/* checkout steps */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* place order screen */

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

/* img.cartitem__image {
  max-width: 5rem;
  width: 100%;
} */

/* flutterwave button */

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button {
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

button.small {
  font-size: o.8rem;
}

/* productlist screen */
button.create-btn {
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #f4f4;
}

button.create-btn:hover {
  background-color: rgba(248, 9, 248, 0.267);
}

/* Search */
/* .search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}

.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
} */
